<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% set form = search_form() %}
        {{ form_start(form) }}
        <div><div class="input-group input-group-sm">
            {{ form_widget(form.painter) }}
            {{ form_widget(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
