{% extends 'picture/base.html.twig' %}

{% block title %}{{ parent() }} :: Peintres{% endblock %}

{% block body %}
    <div class="row mt-3 justify-content-center">
        <div class="col-6 col-lg-3 btn-group" role="group" aria-label="Tri">
            {% set sort = pagination is not empty ? pagination['route_params']['sort'] : '' %}
            {% set order = pagination is not empty ? pagination['route_params']['order'] : '' %}
            <a href="{{ path(app.current_route) }}" class="btn btn-light {{ (sort == '') ? 'active' : '' }}"
               title="ordre aléatoire" type="button">
                <i class="bi bi-shuffle"></i>
            </a>
            <a href="{{ path(app.current_route, {sort : 'alpha', order: (sort == 'alpha' and order == 'ASC') ? 'desc' : 'asc' }) }}"
               class="btn btn-light {{ (sort == 'alpha') ? 'active' : '' }}" title="Tri alphabétique" type="button">
                <i class="bi bi-sort-alpha-{{ (sort == 'alpha' and order == 'ASC') ? 'up' : 'down' }}"></i>
            </a>
            <a href="{{ path(app.current_route, {sort : 'time', order: (sort == 'time' and order == 'ASC') ? 'desc' : 'asc' }) }}"
               class="btn btn-light {{ (sort == 'time') ? 'active' : '' }}" title="Tri chronolologique" type="button">
                <i class="bi bi-arrow-{{ (sort == 'time' and order == 'ASC') ? 'up' : 'down' }}"></i>
                <i class="bi bi-clock"></i>
            </a>
        </div>
        {% if pagination is not empty %}
            <twig:Pagination :pagination="pagination"/>
        {% endif %}
    </div>
    <div class="row">
        <!-- List group-->
        <ul class="list-group shadow p-4">
            {% for artist in artists %}
                <li class="list-group-item mt-4 artist-tile">
                    <!-- Custom content-->
                    <div class="media align-items-center row p-3">
                        <div class="col-12 col-lg-2">
                            <a href="{{ path('picture_artist', {id: artist.id}) }}">
                                <img
                                    src="{{ asset('uploads/peinture/' ~ (artist.paintings is not empty ? artist.paintings[0].file : '') ) }}"
                                    class="img-thbnail" alt="{{ artist.name }}" width="100%">
                            </a>
                        </div>
                        <div class="media-body col-12 col-lg-10">
                            <h5 class="mt-2 font-weight-bold mb-2">{{ artist.firstName ~ ' ' ~artist.name }}</h5>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{ artist.birthYear ~ ' - ' ~ artist.deathYear }}</h6>
                            </div>
                            <p class="font-italic text-muted mb-0 small">{{ artist.bio }}</p>
                            <div class="text-center mt-4">
                                <a class="btn btn-outline-secondary"
                                   href="{{ path('picture_artist', {id: artist.id}) }}">Visiter pour pas cher</a>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </li> <!-- End -->
            {% endfor %}
        </ul>
        {% if pagination is not empty %}
            <twig:Pagination :pagination="pagination"/>
        {% endif %}
    </div>
{% endblock %}
