<form method="post" action="{{ path('app_login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="input-group mb-3">
        <label for="inputEmail" class="input-group-text required">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
    </div>
    <div class="input-group mb-3">
        <label for="inputPassword" class="input-group-text required">Password</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="form-check form-switch input-group mb-3">
        <div class="form-check">
            <input type="checkbox" name="_remember_me" class="form-check-input">
            <label class="form-check-label">
                 Se souvenir de moi
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary text-center" type="submit">
            Connexion
        </button>
    </div>
    <br>
    <a href="{{ path('app_forgot_password_request') }}" class="d-flex justify-content-center">Mot de passe oublié</a>
    <br>
    <a href="{{ path('account') }}" class="btn btn-secondary d-flex justify-content-center">Créer carrément un compte</a>
</form>
