{% extends 'base.html.twig' %}

{% block title %}Shufler :: Search{% endblock %}

{% from 'macros/macros.html.twig' import video_clip, youtube_link %}

{% block body %}
    <div class="p-4">
        <section class="col col-sm-12 col-md-12 medias-bande" data-controller="video">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-3 media-select" style="">
                <h1>{% if videos_count > 0 or tracks is not empty %}
                        Trouvé&nbsp;<i class="bi bi-binoculars"></i>&nbsp;
                    {% else %}
                        Désolé&nbsp;<i class="bi bi-emoji-frown"></i>&nbsp;
                    {% endif %}
                </h1>
                <div class="page_videos_sous_titre">
                    "{{ search }}"<br/>
                    <span class="badge bg-secondary">{{ 'video.videos_number'|trans({count: videos_count}) }}</span>
                    <span class="badge bg-secondary">{{ 'track.tracks_number'|trans({count: tracks|length}) }}</span>
                </div>
            </div>
            {% for video in videos %}
                <div class="col col-12 col-sm-6 col-md-6 col-lg-3 media-vignette">
                    <div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
                        {{ video_clip(video) }}
                    </div>
                </div>
            {% endfor %}
            {% if picture is not null %}
            <div class="col col-12 col-sm-6 col-md-6 col-lg-3">
                <img src="{{ picture|default(asset('images/no_cover.jpeg')) }}" class="cover-search-album" alt="Cover {{ search }}" title="Cover {{ search }}" loading="lazy">
            </div>
            {% elseif 0 == videos_count %}
                <div class="col col-12 col-sm-6 col-md-6 col-lg-3 media-vignette">
                    <div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
                        <img src="{{ asset('images/tv_brouillage.gif') }}" height="250px"/>
                    </div>
                </div>
            {% endif %}
        </section>

        {% include "part/_pagination.html.twig" %}

        {% if tracks is not empty %}
            <br/><br/><br/><br/>
            {% if app.request.query.get('type') == 'album' %}
                {% set path = path('music_couch', { 'album' : search, 'auteur' : app.request.query.get('auteur') }) %}
            {% else %}
                {% set path = path('music_couch', { 'search' : search })%}
            {% endif %}
            <a type="button" class="btn btn-primary" href="{{ path }}"
               role="button"
               aria-label="Enchainer la liste"><i class="bi bi-youtube icon-youtube"></i> Enchaîner la liste</a>
            <br/><br/>
            <section data-controller="music" style="background-color:black; padding: 10px;">
                <table id="tracks" class="table table-dark">
                    <thead>
                    <tr>
                        {% for column in track_columns %}
                            <th>{{ column|capitalize }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in tracks %}
                        <tr>
                            {% for column in track_columns %}
                                {% if column == 'youtubeKey' %}
                                    <td>{{ youtube_link(track) }}</td>
                                {% elseif column in ["auteur", "artiste"] %}
                                    <td>
                                        <a href="{{ path('main_search', {'search_field' : attribute(track, column), 'type' : 'auteur' }) }}">{{ attribute(track, column) }}</a>
                                    </td>
                                {% elseif column == "album" %}
                                    <td>
                                        <a href="{{ path('main_search', {'search_field' : attribute(track, column), 'type' : 'album', 'auteur' : attribute(track, "artiste")}) }}">{{ attribute(track, column) }}</a>
                                    </td>
                                {% elseif column == 'titre'%}
                                    <td>
                                        <a href="#" data-id="{{ track.id }}" class="edit-tracks" data-action="music#openEditModal" onclick="return false;"><i class="bi bi-pencil-square"></i></a> {{ attribute(track, column) }}
                                    </td>
                                {% elseif column == "note" %}
                                    <td class="col-stars">
                                        {{ displayStars(attribute(track, column), false) }}
                                    </td>
                                {% else %}
                                    <td>{{ attribute(track, column) }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'part/_modal.html.twig' with { modalTitle: 'Music', class: 'music-modal' } %}
            </section>
        {% endif %}
    </div>
{% endblock %}
