<a class="video-link" href="{{ video.lien|popUp }}" aria-label="Launch video {{ video.titre }}">
	{{ convertFrame(video.lien, video.auteur ~ '-' ~ video.titre)}}
	<div class="media-body">
		{% if is_granted('VIDEO_EDIT', video) %}
			<div class="link_edit">
				<a href="{{ path('video_edit',{'id':video.id}) }}" role="button" aria-label="Edit video {{ video.titre }}">
					<i class="bi bi-pencil-square"></i>
				</a>
			</div>
		{% endif %}
		<h3 class="media-heading">{{  video.titre }}</h3>
		{{  video.auteur }} <span class="annee_small">{{  video.annee|yearDisplay }}</span>
	</div>
</a>
