{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Extra notes{% endblock %}

{% block body %}
    <h1><i class="bi bi-star"></i> Les extra notes</h1>
    <div class="well" data-controller="modal-channel-form">
        <div class="row justify-content-md-center text-center">
            <div class="col-12 col-lg-8" data-controller="music">
                <br><br>
                <h2>Les 4 <i class="bi bi-heart-fill"></i></h2>
                {{ form_start(form) }}
                <table class="table table-dark table-striped">
                    {% for index, track in form.extra_graduated_tracks %}
                        <tr>
                            <td>{{ form_widget(track) }}</td>
                            <td class="text-start">{{ tracks_4[index].titre }}</td>
                            <td class="text-start">{{ tracks_4[index].auteur }}</td>
                            <td class="text-start">{{ tracks_4[index].album }}</td>
                            <td class="text-start">
                                <a class="video-link" href="{{ tracks_4[index].youtubeKey|popUpYoutube }}"
                                   data-action="music#popup"><i class="bi bi-youtube"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary btn-lg" onclick="return confirm('Etes vous bien sûr ?')">OK</button>
                {{ form_end(form) }}
                <br><br>
                <h2>Les -1 <i class="bi bi-heartbreak-fill"></i></h2>
                <table class="table table-dark table-striped">
                    {% for track in tracks_0 %}
                        <tr>
                            <td>{{ track.auteur }}</td>
                            <td>{{ track.titre }}</td>
                            <td>{{ track.album }}</td>
                            <td class="text-start">
                                <a class="video-link" href="{{ track.youtubeKey|popUpYoutube }}"
                                   data-action="music#popup"><i class="bi bi-youtube"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
