{% macro youtube_link(track) %}
    {% set youtube_key = 'https://www.youtube.com/watch?v=' ~ track.youtubeKey %}

    <a id="track-youtube-{{ track.id }}"
       href="{{ youtube_key }}"
       class="{{ track.youtubeKey is not null ? 'video-link icon-youtube' : 'no-link' }}"
       data-id="{{ track.id }}" data-auteur="{{ track.auteur }}" data-titre="{{ track.titre }}"
        {{ track.youtubeKey is not null ? 'data-action="music#popup"' : 'data-action="music#getLink"' }}
       onclick="return false;"
       title="video link">
        {{ track.youtubeKey|toIconYoutube }}
    </a>
{% endmacro youtube_link %}
