{% macro video_clip(video) %}
    <a class="video-link" href="{{ video.lien|popUp }}" aria-label="Launch video {{ video.titre }}">
        {{ convertFrame(video.lien, video.auteur ~ '-' ~ video.titre) }}
        <div class="media-body d-flex align-items-center justify-content-between p-1">
            <div>
                <h3 class="media-heading">{{ video.titre }}</h3>
                {{ video.auteur }} <span class="annee_small">{{ video.annee|yearDisplay }}</span>
            </div>
            {% if is_granted('VIDEO_EDIT', video) %}
                <a href="{{ path('video_edit',{ 'id': video.id }) }}" class="link-edit" role="button" aria-label="Edit video {{ video.titre }}">
                    <i class="bi bi-pencil-square"></i>
                </a>
            {% endif %}
        </div>
    </a>
{% endmacro video_clip %}

{% macro youtube_link(track) %}
    {% set youtube_key = 'https://www.youtube.com/watch?v=' ~ track.youtubeKey %}

    <a id="track-youtube-{{ track.id }}"
       href="{{ youtube_key }}"
       class="{{ track.youtubeKey is not null ? 'video-link icon-youtube' : 'no-link' }}"
       data-id="{{ track.id }}" data-auteur="{{ track.auteur }}" data-titre="{{ track.titre }}"
        {{ track.youtubeKey is not null ? 'data-action="music#popup"' : 'data-action="music#getLink"' }}
       onclick="return false;"
       title="video link">
        {{ track.youtubeKey != 'nope' ? '<i class="bi bi-youtube"></i>' : '' }}
    </a>
{% endmacro youtube_link %}
