{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Music Albums{% endblock %}

{% block body %}
    <div class="p-4">
        <div class="row justify-content-center g-2 g-lg-3" data-controller="album">
            {% for album in albums %}
                {% if album.picture is not null %}
                    <div id="album-{{ album.id }}" class="col-6 col-md-4 col-lg-2 album"
                         style="background-color: black; color:white;border:1px solid #052660;">
                        <a href="#album-{{ album.id }}" data-action="album#displayContent"
                           data-artist="{{ album.auteur }}"
                           data-album="{{ album.name }}">
                            {% set class_no_picture = '' %}
                            {% if no_cover_picture in album.picture %}
                                {% set class_no_picture = ' no-picture' %}
                            {% endif %}
                            <img class="album-picture-{{ album.id }}{{ class_no_picture }}" src="{{ album.picture }}"
                                 alt="{{ album.auteur ~ ' ' ~ album.name }}" title="{{ album.name }}" width="100%"
                                 loading="lazy"/>
                            <strong>{{ album.auteur }}</strong><br/>
                            {{ album.name }} <small>{{ album.annee  ? '('~ album.annee ~')' : '' }}</small>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if pagination is not empty %}
                <section class="col-sm-12 col-md-12" style="margin-top: 20px;">
                    {% include "part/_pagination.html.twig" %}
                </section>
            {% endif %}
        </div>
        {% include 'part/_modal.html.twig' with { modalTitle: 'Music', class: 'music-modal' } %}
        {% include 'music/part/_filters.html.twig' %}
    </div>
{% endblock %}