{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Music Albums{% endblock %}

{%  block body %}
    <div class="row justify-content-center g-2 g-lg-3">
        {% for album in albums %}
            {% if album.picture is not null %}
                <div class="col-6 col-md-4 col-lg-2" style="background-color: black; color:white;border:1px solid #052660;">
                    <img src="{{ album.picture }}" alt="{{ album.name }}" title="{{ album.name }}" width="100%"/>
                    <strong>{{ album.auteur }}</strong><br/>
                    {{ album.name }} <small>({{ album.annee }})</small>
                </div>
            {% endif %}
        {% endfor %}

        <section class="col-sm-12 col-md-12" style="margin-top: 20px;">
            {% include "part/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}