{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Edit Cloud track{% endblock %}

{% block body %}
    <div class="p-4">
        <h1 class="minor"><i class="bi bi-pencil"></i>&nbsp;Editer la Track {{ cloudTrack.id }}</h1>
        <div class="well">
            <div class="row justify-content-md-center txt-center">
                <div class="col-12 col-lg-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {% if cloudTrack.id is not null %}
                        <a class="btn btn-secondary"
                           href="{{ path('api_video', {'search_api': cloudTrack.auteur ~ ' ' ~ cloudTrack.titre, 'id_cloud_track': cloudTrack.id }) }}">
                            <i class="bi bi-arrow-left-right"></i>&nbsp;Exchange on Api
                        </a>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-save-fill"></i>&nbsp;Save
                    </button>
                    {% if cloudTrack.id is not null %}
                        &nbsp;
                        <a href="{{ path('music_cloudtrack_delete', {'id' : cloudTrack.id, '_token' : csrf_token('delete'~cloudTrack.id)}) }}"
                           type="button" class="btn btn-danger"
                           onclick="return confirm('Etes--vous sûr ?')">Supprimer</a> &nbsp;
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
