{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Edit Cloud Album{% endblock %}

{% block body %}
    <div class="p-4">
        <h1 class="minor"><i class="bi bi-pencil"></i>&nbsp;Editer l'album {{ cloudAlbum.id }}</h1>
        <div class="well">
            <div class="row justify-content-md-center txt-center">
                <div class="col-12 col-lg-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="row justify-content-center text-center">
                        {% if cloudAlbum.id is not null %}
                            <div class="col-4 p-2">
                                <a class="btn btn-secondary p-2"
                                   href="{{ path('api_playlist', {'search_api': cloudAlbum.auteur ~ ' ' ~ cloudAlbum.name, 'id_cloudalbum': cloudAlbum.id }) }}">
                                    <i class="bi bi-arrow-left-right"></i>&nbsp;Exchange on Api
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-4 p-2">
                            <button class="btn btn-primary p-2" type="submit">
                                <i class="bi bi-save-fill"></i>&nbsp;Save
                            </button>
                        </div>
                        {% if cloudAlbum.id is not null %}
                            <div class="col-4 p-2">
                                <a href="{{ path('music_album_cloud_delete', {'id' : cloudAlbum.id, '_token' : csrf_token('delete'~cloudAlbum.id)}) }}"
                                   type="button" class="btn btn-danger p-2"
                                   onclick="return confirm('Etes--vous sûr ?')">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
