{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Edit Cloud track{% endblock %}

{% block body %}
    <h1 class="minor"><i class="bi bi-pencil"></i>&nbsp;Editer la Track {{ cloudTrack.id }}</h1>
    <div class="well">
        <div class="row justify-content-md-center txt-center">
            <div class="col-12 col-lg-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <a class="btn btn-secondary"
                   href="{{ path('api_video', {'search_api': cloudTrack.auteur ~ ' ' ~ cloudTrack.titre, 'id_cloudtrack': cloudTrack.id }) }}">
                    <i class="bi bi-arrow-left-right"></i>&nbsp;Exchange on Api
                </a>
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-save-fill"></i>&nbsp;Save
                </button>&nbsp;
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}