{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Albums list{% endblock %}

{% block body %}
    <div class="p-4">
        <div class="row">
            <div class="d-flex justify-content-evenly">
                <a href="{{ path('music_filter_couch', params) }}" type="button"
                   class="btn btn-secondary btn-lg"><i class="bi bi-arrow-left"></i> retour filtres</a>
                <a href="{{ path('music_couch', params|merge({'is_disambiguate': true})) }}" type="button"
                   class="btn btn-primary btn-lg">OK POUR TOUT !</a>
            </div>
            {% for album in albums %}
                <div class="col col-12 col-md-6 col-xl-4 p-4">
                    <twig:HorizontalCard title="{{ album.name }}" pictureSrc="{{ album.picture }}" path="{{ path('music_couch', params|merge({'album':album.name})) }}">
                        <twig:block name="content">{{ album.auteur }} {{ album.annee ? "(%d)"|format(album.annee) }}</twig:block>
                    </twig:HorizontalCard>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if form_track is defined %}
        {% include 'music/part/_filters.html.twig' %}
    {% endif %}
{% endblock %}
