{{ form_start(form, {'attr' : {'onkeydown' : "return event.key != 'Enter';"}}) }}
{{ form_widget(form) }}
<a class="btn btn-secondary"
   href="{{ path('api_video', {'search_api': track.auteur ~ ' ' ~ track.titre, 'id_track': track.id }) }}">
    <i class="bi bi-arrow-left-right"></i>&nbsp;Exchange on Api
</a>
<button class="btn btn-primary save-track" type="button" data-action="music#saveTrack">
    <i class="bi bi-save-fill"></i>&nbsp;Save
</button>&nbsp;
<a type="button" class="btn btn-secondary" data-action="music#setNote" data-id={{ track.id }}><i class="bi bi-heart{{ track.note != null and track.note != -1 ? '-fill' : '' }}"></i></a>&nbsp;
{{ form_end(form) }}
