{% for index, value in datas %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ id }}-{{index}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ id }}-{{index}}" aria-expanded="true" aria-controls="collapse-{{ id }}-{{index}}">
                <span class="badge bg-secondary text-end" style="font-size:60%;">{{ value.pubDate|date('d/m/Y') }}</span>&nbsp;&nbsp;{{ value.title }}
            </button>
        </h2>
        <div id="collapse-{{ id }}-{{index}}" class="accordion-collapse collapse" data-bs-parent="#{{ id }}">
            <div class="accordion-body accordion">
                <a href="{{ value.link }}" class="btn btn-info" target="_blank">Lire l'article</a>
                {% if value.description is defined %}
                    <p>{{ value.description|raw }}</p>
                {% endif %}
                {% if value.media is defined and value.media != null %}
                    <div class="row">
                        <img src="{{ value.media }}"  style="width:100%;" />
                    </div><br />
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}