{% for index, value in datas %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ id }}-{{index}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ id }}-{{index}}" aria-expanded="true" aria-controls="collapse-{{ id }}-{{index}}">
                <span class="badge bg-secondary text-end" style="font-size:60%;">{{ value.pubDate|date('d/m/Y') }}</span>&nbsp;&nbsp;{{ value.title }}
            </button>
        </h2>
        <div id="collapse-{{ id }}-{{index}}" class="accordion-collapse collapse" data-bs-parent="#{{ id }}">
            <div class="accordion-body accordion">
                {% if value.enclosure is defined and value.enclosure.attributes.url != null %}
                    <div class="row">
                        <div id="sound-{{ id }}-{{ index }}" class="audio text-center col-8">
                            <a href="{{ value.enclosure.attributes.url }}" type="button" class="btn btn-secondary" data-type="{{ value.enclosure.attributes.type }}" data-action="flux#launch" style="width:100%;"><i class="bi bi-play-circle-fill"></i></a>
                        </div>
                        <div class="audio text-center col-4">
                            <a href="#" data-url="{{ value.enclosure.attributes.url }}" type="button" class="btn btn-secondary" data-type="{{ value.enclosure.attributes.type }}" style="width:100%;" download><i class="bi bi-download"></i></a>
                        </div>
                    </div><br />
                {% endif %}
                {% if value.description is defined %}
                    <p>{{ value.description|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}