{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Couch'{% endblock %}

{% block body %}
	<div class="row justify-content-center" {{ stimulus_controller('videos-couch', {
		videos : videos
	}) }}>
		<div class="col-12 col-lg-6" style="height:500px">
			<div id="player"></div>
			<div id="title">
				{% for track in list %}
					<div id="{{ track.youtubeKey }}" class="row" style="display:none;background-color: #1b1b1b;margin:0;">
						<div class="col-6 col-md-3 col-xl-3" style="padding:0"><img src="{{ track.picture|default('') }}" width="100%" loading="lazy"></div>
						<div class="col-6 col-md-9 col-xl-9"><span style="font-size: 1.5em">{{ track.auteur }} - {{ track.titre }}</span>
							<br>{{ track.album|default('') }} ({{ track.annee }})
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% if form_track is defined %}
		{% include 'music/part/_filters.html.twig' %}
	{% endif %}
	{% if form_video is defined %}
		{% include 'video/part/_filters.html.twig' %}
	{% endif %}
{% endblock %}