{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Videos{% endblock %}

{% block body %}
    <section class="col col-sm-12 col-md-12 medias-bande" data-controller="video">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-3 media-select" style="">
            {% if search is defined %}
                <h1>{% if videos_count >0 %}
                        Trouvé&nbsp;<i class="bi bi-binoculars"></i>&nbsp;
                    {% else %}
                        Désolé&nbsp;<i class="bi bi-emoji-frown"></i>&nbsp;
                    {% endif %}
                </h1>
                <div class="page_videos_sous_titre">
                    "{{ search }}"<br/>
                    <span class="badge bg-secondary">{{ 'video.videos_number'|trans({count: videos_count}) }}</span>
                </div>
            {% elseif trash is defined %}
                <h1>Trash <i class="bi bi-trash-fill"></i></h1>
            {% else %}
                <h1>{{ pagination.route_params.categorie|categorieDisplay|trans }}</h1>
                <div class="row">
                    <div class="col col-6" >
                        <div class="d-grid gap-1 dropend">
                            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list-stars"></i> Categorie
                            </button>
                            <ul class="dropdown-menu">
                                {% for index, value in categories %}
                                    <li><a class="dropdown-item {% if index == pagination.route_params.categorie %}active{% endif %}" href="{{ path('video_list', {'categorie' : index , 'genre' : index == 2 ? pagination.route_params.genre : 0, 'periode' : pagination.route_params.periode}) }}">{{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        {% if  pagination.route_params.categorie == 2 %}
                            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list-task"></i> Genre
                            </button>
                            <ul class="dropdown-menu">
                                {% for index, value in genres %}
                                    <li><a class="dropdown-item {% if index == pagination.route_params.genre %}active{% endif %}" href="{{ path('video_list', {'categorie' : pagination.route_params.categorie, 'genre' : index, 'periode' : pagination.route_params.periode}) }}">{{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-x"></i> Période
                            </button>
                            <ul class="dropdown-menu">
                                {% for index, value in periodes %}
                                    <li><a class="dropdown-item {% if index == pagination.route_params.periode %}active{% endif %}" href="{{ path('video_list', {'categorie' : pagination.route_params.categorie, 'genre' : pagination.route_params.genre, 'periode' : index}) }}">{{ value }}</a></li>
                                {% endfor %}
                            </ul>
                            <a type="button" class="btn btn-dark" href="{{ path('video_couch', {'categorie' : pagination.route_params.categorie, 'genre' : pagination.route_params.genre, 'periode' : pagination.route_params.periode}) }}"><i class="bi bi-collection-play"></i>&nbsp;Couch' Mode</a>
                        </div>
                        <br/><br/>
                    </div>
                    <div class="col col-6">
                        {% if  pagination.route_params.genre != 0 %}
                            <div class="page_videos_genre">{{ pagination.route_params.genre|genreDisplay|trans }}</div>
                        {% endif %}
                        {% if pagination.route_params.periode != 0 %}
                            <div class="page_videos_periode">{{ pagination.route_params.periode }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% for video in videos %}
            <div class="col col-12 col-sm-6 col-md-6 col-lg-3 media-vignette">
                <div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
                    <div class="categorie position-absolute">
                        {% if search is not defined and trash is not defined %}
                            {% if pagination.route_params.categorie == 0 %}
                                <a href = "{{ path('video_list', {'categorie' : video.categorie, 'genre' : pagination.route_params.categorie}) }}">{{ video.categorie|categorieDisplay }}</a>
                            {% endif %}
                            {% if pagination.route_params.categorie == 2 and pagination.route_params.genre == 0 %}
                                <a href = "{{ path('video_list', {'categorie' : pagination.route_params.categorie, 'genre' : video.genre}) }}">{{ video.genre|genreDisplay }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% include("video/part/_videoFrame.html.twig") %}
                </div>
            </div>
        {% endfor %}
        {% if search is defined and 0 == videos_count %}
            <div class="col col-12 col-sm-6 col-md-6 col-lg-3 media-vignette">
                <div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
                    <img src="{{ asset('build/images/tv_brouillage.gif') }}" />
                </div>
            </div>
        {% endif %}
    </section>

    {% include "part/_pagination.html.twig" %}
{% endblock %}