{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: View{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <section class="col-12 col-lg-6" style="height:500px">
            <div class="ratio ratio-16x9">
                <iframe class="media embed-responsive-item" src="{{ video.lien }}"></iframe>
            </div>
            <div class="topcom media-body">
                <div class="col-md-10">
                    <h2 class="media-heading">{{ video.titre }}</h2>
                    <span class="top-auteur">{{ video.auteur }}</span>
                    <p class="topchapo">{{ video.chapo }}</p>
                </div>
                <div class="col-md-2 col-push-right">
                    <div class="categorie col-md-12"
                         style="position:relative;">{{ video.categorie|categorieDisplay }}</div>
                    <div class="col-md-12"><span class="top-annee">{{ video.annee|yearDisplay }}</span></div>
                </div>
                {% for mood in video.moods %}
                    <span class="badge">{{ mood.name }}</span>
                {% endfor %}
            </div>
            <div class="media">
                {{ video.texte }}
            </div>
            <br/>
            <div class="well">
                <span class="badge" style="float:right;">{{ video.dateInsert|date("d/m/Y H:i:s") }}</span><br/>
                {% if is_granted('VIDEO_EDIT') %}
                    <a class="btn btn-secondary" href="{{ path('video_edit', {'id':video.id}) }}"><span
                                class="glyphicon glyphicon-edit"></span>&nbsp;Edit the reference</a>
                    &nbsp;
                    {% if video.published == 1 %}
                        <a class="btn btn-warning" href="{{ path('video_edit', { 'id':video.id }) }}"><span
                                    class="glyphicon glyphicon-remove-sign"></span>&nbsp;Retirer</a>
                    {% else %}
                        <a class="btn btn-primary"
                           href="{{ path('video_edit', { 'id':video.id, 'publish': true }) }}"><span
                                    class="glyphicon glyphicon-ok-sign"></span>&nbsp;Publier</a>
                    {% endif %}
                {% endif %} &nbsp;
                {% if is_granted('VIDEO_DELETE') %}
                    <a class="btn btn-danger" href="{{ path('video_delete', {'id':video.id}) }}"
                       onclick="return confirm('{{ 'Are You sure ?'|trans }}');"><i class="bi bi-trash"></i>&nbsp;Virer</a>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}