{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: News{% endblock %}

{% block body %}
    <div class="p-4">
        <h1><i class="bi bi-newspaper"></i> Quoi de neuf dans le monde ?</h1>
        <div class="submenu">
            <ul class="nav nav-pills justify-content-center">
                {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{ path('flux_news', {'category' : category.id }) }}"
                           class="nav-link{% if categorie == category.id %} active {% endif %}">{{ category.name|capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br/><br/>
        <div class="row justify-content-center txt-center" data-controller="flux">
            {% for rss in news %}
                <div class="flux card col col-12 col-md-6 col-lg-4 m-1 p-0">
                    <div class="card-header text-center">
                        <img src="{{ asset('/uploads/logos/' ~ rss.image) }}" alt="{{ rss.name }}"
                             style="max-height:100px; max-width:150px;"
                             loading="lazy">
                    </div>
                    <div class="card-body">
                        <div id="flux-{{ rss.id }}" class="row news-widget">
                            <div class="pod-nav flex-row d-flex justify-content-around mb-4">
                                <a href="#" class="left btn btn-secondary disabled" data-page="0" data-action="flux#prev">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                                {% if is_granted('FLUX_EDIT', rss) %}
                                    <a href="{{ path('flux_edit', {'id': rss.id}) }}" class="btn btn-secondary">
                                        <i class="bi bi-pencil-square"></i>&nbsp;Editer
                                    </a>
                                {% endif %}
                                <a href="#" class="right btn btn-secondary" data-page="2" data-action="flux#next">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div id="accordion-{{ rss.id }}" class="accordion text-center" data-url="{{ rss.url }}"
                                     data-type="news">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer flex-row d-flex justify-content-between small">
                        <div>{{ rss.name }}</div>
                        <div>{{ 'now'|date('d/m/Y H:i') }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
