{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Playlists Youtube{% endblock %}

{% block body %}
    <div class="p-4">
        <h1><i class="bi bi-youtube"></i> Youtube playlists</h1>
        <section class="col col-sm-12 col-md-12 medias-bande" data-controller="video">
            {% for playlist in playlists %}
                {% set class_no_picture = '' %}
                {% if no_cover_picture in playlist.image %}
                    {% set class_no_picture = ' no-picture' %}
                {% endif %}
                <div class="col col-6 col-sm-6 col-md-3 col-lg-2 media-vignette">
                    <div class="media topcol embed-responsive-16by9" style="margin-bottom:30px;">
                        <a class="playlist-link" href="{{ playlist.url|youtubeChannelLink }}">
                            <img src="{{ playlist.image }}" class="embed-responsive-item{{ class_no_picture }}"
                                 width="100%" loading="lazy">
                            <div class="media-body d-flex align-items-center justify-content-between">
                                <h3 class="media-heading">{{ playlist.name }}</h3>
                                {% if is_granted('FLUX_EDIT', playlist) %}
                                    <a href="{{ path('flux_edit',{'id':playlist.id}) }}" class="link_edit">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
