{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Podcasts{% endblock %}

{% block body %}
    <h1><i class="bi bi-broadcast-pin"></i> Podcasts</h1>
    <div class="row justify-content-md-center txt-center" data-controller="flux">
        {% for podcast in podcasts %}
            <section class="flux row g-0 d-flex position-relative col col-12 col-md-6 col-lg-4" style="padding:5px;">
                <div id="flux-{{ podcast.id }}" class="row flux-widget bg-body-secondary" data-title="{{ podcast.name }}">
                    <div class="flux-header col col-12 mb-md-0 p-md-4 center-block">
                        {% if podcast.channel is defined and podcast.channel.image is defined %}
                            <img src="{{ asset('uploads/logos/' ~ podcast.channel.image) }}" height=30px />&nbsp;
                        {% endif %}&nbsp;
                        {{ podcast.name }}
                    </div>
                    <div class="pod-nav row justify-content-center" style="padding:10px;">
                        <div class="col col-2 col-sm-2 col-lg-2">
                            <a href="#" class="left btn btn-secondary disabled" data-page="0" data-action="flux#prev"><i class="bi bi-chevron-left"></i></a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col col-auto text-center">
                                <a href="{{ path('flux_edit', {'id': podcast.id}) }}" class="btn btn-secondary"><i class="bi bi-pencil-square"></i>&nbsp;Editer</a>
                            </div>
                        {% endif %}
                        <div class="col col-2 col-sm-2 col-lg-2 text-end">
                            <a href="#" class="right btn btn-secondary" data-page="2" data-action="flux#next"><i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-12 p-4 ps-md-0">
                        <div id="accordion-{{ podcast.id }}" class="accordion" data-type="podcast" data-url="{{ podcast.url }}"></div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
    <div id="audio-stick" class="sticky-bottom" style="height:auto; background-color:darkslategrey;"></div>
{% endblock %}