{% extends 'flux/podcasts.html.twig' %}

{% block podcasts %}
    <div class="row justify-content-center txt-center" data-controller="flux">
        {% for podcast in podcasts %}
            <div class="flux card col col-12 col-md-6 col-lg-4 m-1">
                <div class="card-header d-flex flex-row justify-content-between"
                     style="background-color: #0a53be; color:yellow;">
                    {% if podcast.channel is defined and podcast.channel.image is defined %}
                        <img src="{{ asset('uploads/logos/' ~ podcast.channel.image) }}" height="50px" loading="lazy" alt=""{{ podcast.channel.name }}>&nbsp;
                    {% endif %}&nbsp;
                    <h2>{{ podcast.name }}</h2>
                </div>
                <div class="card-body">
                    <twig:FluxContent :flux="podcast" loading="defer" />
                </div>
                <div class="card-footer flex-row d-flex justify-content-between small bg-dark-subtle text-bg-light">
                    <div>{{ podcast.name }}</div>
                    <div>{{ 'now'|date('d/m/Y H:i') }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
