{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Radios{% endblock %}

{% block body %}
    <div class="p-4">
        <h1><i class="bi bi-speaker-fill"></i> Radios</h1>
        <div class="row justify-content-center txt-center" data-controller="flux">
            <div class="col-12 col-lg-6">
                <div class="list-group">
                    {% for radio in radios %}
                        <div class="list-group-item">
                            <a href="{{ radio.url }}" class="btn btn-secondary" data-action="flux#launch"
                               data-type="radio"><i
                                        class="bi bi-play-circle"></i></a>
                            <span class="badge bg-secondary">{{ radio.mood.name ?? '' }}</span>
                            {{ radio.name }}
                            {% if is_granted('FLUX_EDIT', radio) %}
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('flux_edit',{'id': radio.id}) }}"><i class="bi bi-pencil"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'flux/part/_audio_stick.html.twig' %}
{% endblock %}