<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name = "description " content = "Un site qui propose aléatoirement des vidéos démentes et des trucs méconnus.">
        <meta name = "keywords" content = "videos, animations, musique, clips" >
        <meta name = "generator" content = "Symfony6" >
        <meta name = "author" content = "Fred Fox" >
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <meta name = "robots" content = "index, follow">
        <title>{% block title %}Shufler{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/fav.png') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'part/_nav.html.twig' %}
        </header>

    <div class="container-fluid content">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    <p><i class="{{ label|toIconAlert }}"></i> {{ flash }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {% if not is_granted('IS_AUTHENTICATED') %}
            {{ include('part/_modal.html.twig', { modalTitle: 'Connexion'}) }}
        {% endif %}
    </div>
    <footer>
        <br />
        <p>&nbsp;&nbsp;&nbsp;Shufler © {{ 'now'|date('Y') }} - fred@shufler.fr</p>
    </footer>
    </body>
</html>
