{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" data-controller="video">
        <div class="row g-4">
            <div class="col-lg-6 col-12" style="padding:0;margin-top:10px;box-shadow: 8px 8px 24px black;">
                <div class="ratio ratio-16x9">
                    <iframe class="media embed-responsive-item" src="{{ anims[0].lien }}" allowfullscreen
                            title="{{ anims[0].auteur ~ '-' ~ anims[0].titre }}" style="width:100%"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-12 texte my-auto p-5">
                <img src="{{ asset('images/shufler_logo.png') }}" width=50% alt="logo Shufler"
                     title="logo Shufler"><br><span class="sous-titre">des clips en vrac..</span><br><br>
                <div style="text-align:center">
                    <a class="btn btn-dark" href="{{ path('main_home') }}" role="button" aria-label="Reload"
                       style="background-color:black"><i class="bi bi-dice-{{ random(5) + 1 }}-fill"></i>&nbsp;{{ 'New Selection'|trans }}
                        <i class="bi bi-dice-{{ random(5) + 1 }}-fill"></i></a>&nbsp;&nbsp;
                    {% if not app.user %}
                        <a id="register_second" class="btn btn-dark" role="button" aria-label="Create an account" data-toggle="modal" data-target="#userModal" href="{{ path('account') }}" style="background-color:black" >
                            <span class="glyphicon glyphicon-flag"></span>&nbsp;{{ 'Create an account'|trans }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_AUTEUR') %}
                        <a href="{{ path('video_edit', {'id':anims[0].id}) }}" role="button" aria-label="Edit the video"
                           class="link-edit btn btn-dark"
                        ><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row g-4 p-4" style="background-color: #220909;justify-content: space-around;">
            <h1>Anims</h1>
            {% for video in anims|slice(1, 2) %}
                <div class="col-12 col-md-6 col-lg-3 media-vignette">
                    <div class="media topcol embed-responsive-16by9">
                        <twig:VideoFrame :video="video" />
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row g-4 p-4" style="background-color: #001360;justify-content: space-between;border-top:15px dashed #220909;">
            <h1>Du son, des images</h1>
            <p>Une palanquée de morceaux d'anthologie, parfois méconnus, amoureusement choisis</p>
            {% for video in musics|slice(0, 3) %}
                <div class="col-12 col-md-6 col-lg-3 media-vignette">
                    <div class="media topcol embed-responsive-16by9">
                        <div class="categorie"><a
                                    href="{{ path('video_list', {'categorie' : video.categorie, 'genre' : video.genre}) }}"
                                    aria-label="Go to category {{ video.genre|genreDisplay }}">{{ video.genre|genreDisplay }}</a>
                        </div>
                        <twig:VideoFrame :video="video" />
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row g-4">
            <div class="col-12 col-md-12 col-lg-6 p-4">
                <h1>Vu</h1>
                {% if playlist is not empty %}
                    <div id="vu-widget" class="col-12">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 media">
                            <a class="playlist-link" href="{{ playlist.url|youtubeChannelLink }}" data-toggle="tooltip"
                               aria-label="Launch video {{ playlist.name }}">
                                <img src="{{ playlist.image }}" width=60% alt="{{ playlist.name }}"
                                     title="{{ playlist.name }}"/>
                            </a>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6" style="font-size:130%;">
                            <h3 style="background-color:#0153e7;color:white;">{{ playlist.name }}</h3>
                            <p style="background-color:white;color:black;">Le meilleur et le pire de keski s'est passé
                                chaque jour à la télé...</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-12 col-lg-6 p-4" style="background-color: black;">
                <h1>OMG, WTF ??</h1>
                <p>Du bizarre, du cheulou comme disent les jeunes.. On y trouve aussi du mdr, voire du ptdr</p>
                <div class="row g-4 p-4 row-cols-1 row-cols-lg-2">
                    {% for video in stranges|slice(0, 2) %}
                        <div class="col-12 col-md-6 col-lg-6 media-vignette">
                            <div class="media topcol embed-responsive-16by9">
                                <twig:VideoFrame :video="video" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row g-4 p-4" style="background-color:#4a008f;">
            <h1>En v'la encore</h1>
            {% for video in musics|slice(4,8) %}
                <div class="col-12 col-md-6 col-lg-3 media-vignette">
                    <div class="media topcol embed-responsive-16by9">
                        <div class="categorie"><a
                                    href="{{ path('video_list', {'categorie' : video.categorie, 'genre' : video.genre}) }}"
                                    aria-label="Go to category {{ video.genre|genreDisplay }}">{{ video.genre|genreDisplay }}</a>
                        </div>
                        <twig:VideoFrame :video="video" />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
