{% if pagination is defined and pagination.pages_count > 1 %}
	<nav aria-label="Navigation" class="navbar-dark flex-wrap justify-content-center" style="display:flex">
		<ul class="pagination">
			{% if pagination.page > 1 %}
				<li class="page-item">
					<a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}"><<</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page - 1})) }}"><</a>
				</li>
			{% endif %}
			{#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
			{% for p in range(max(pagination.page - 2, 1),
				min(pagination.page + 2, pagination.pages_count)) %}
				<li class="page-item {% if p == pagination.page %}active {% endif %}">
					<a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
				</li>
			{% endfor %}
			{% if pagination.page<pagination.pages_count %}
			  	<li class="page-item">
					<a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page + 1})) }}">></a>
			  	</li>
				<li class="page-item">
					<a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}