{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary"
    type="button"
    data-action = 'modal-channel-form#submitForm'
>
    <i class="bi bi-save-fill"></i>&nbsp;Save
</button>&nbsp;
{% if channelflux.id is not null %}
    <br/>
    {% if channelflux.image is not null %}
        {% if 'http' in channelflux.image %}
            <img src="{{ asset(channelflux.image) }}" width="200px" />
        {% else %}
            <img class="channel-image" src="{{ asset('uploads/logos/' ~ channelflux.image) }}" width="200px" />
            <a href="{{ path('channel_delete_logo',{'id': channelflux.id}) }}"
               type="button"
               class="btn btn-danger"
               onclick="return confirm('{{ 'Are You sure ?'|trans}}');"
               title="Delete this Logo"
            >
                <i class="bi bi-trash-fill"></i>
            </a>
        {%  endif %}
    {% endif %}
{% endif %}
{{ form_end(form) }}
<br>
{% if channelflux.id is not null %}
    <form action="{{ path('channel_delete', {'id' : channelflux.id}) }}" method="POST" onclick="return confirm('global.confirmation');">
        <input type="hidden" name="_token" value="{{ csrf_token('channel_delete' ~ channelflux.id) }}">
        <button class="btn btn-danger" type="submit"><i class="bi bi-trash-fill"></i>&nbsp;Virer</button>
    </form>
{% endif %}