<div class="row block-content-album">
    <div class="col-12 col-md-4 col-lg-2 text-center div-img">
        <img src="{{ album.picture }}"/>
    </div>
    <div class="col-12 col-md-8 col-lg-10" data-controller="music">
        <p class="music-title" style="color:white">
            <span class="music-album">{{ album.name }}</span><br/>
            by <span class="music-auteur">{{ album.auteur }}</span> ({{ album.annee }})
            <span class="badge bg-primary">{{ album.genre }}</span>
        </p>
        <table class="table table-dark">
            <tbody>
                {% for track in tracks %}
                    <tr>
                        <td>{% if track.youtubeKey is not empty %}
                                <a class="video-link" href="{{ track.youtubeKey|popUpYoutube }}" data-action="music#popup"><i class="bi bi-youtube"></i></a>
                            {% endif %}
                        </td>
                        <td>{{ track.numero }}</td>
                        <td><strong>{{ track.titre }}</strong></td>
                        <td>{% if track.auteur != album.auteur %}
                                <small>{{ track.auteur }}</small>
                            {% endif %}
                        </td>
                        <td>
                            {% if track.annee != album.annee %}
                                <small>{{ track.annee }}</small>
                            {% endif %}
                        </td>
                        <td>
                            <small>{{ track.duree }}</small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>