<div class="filters sticky-bottom" data-controller="videos-couch">
    <div class="row justify-content-center">
        <div class="col-4 col-md-4 col-lg-2">
            <a href="#" class="btn btn-secondary toggle-btn" data-action="videos-couch#toggleFilters" role="button" aria-label="Toggle Filters">
                <i class="bi bi-arrow-up-circle"></i> Filters
            </a>
        </div>
    </div>
    {{ form_start(form, {'method' : 'GET'}) }}
    <div class="row justify-content-center filter-form" style="display: none">
        {{ form_row(form.genre) }}
        {{ form_row(form.search) }}
        {{ form_row(form.auteur) }}
        {{ form_row(form.album) }}
        {{ form_row(form.annee) }}
        {{ form_row(form.note) }}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>