{% extends 'part/_slider.html.twig' %}

{% block slider_content %}
    {{ form_start(form, {'method' : 'GET'}) }}
    <div class="row justify-content-center filter-form">
        {{ form_row(form.genre) }}
        {{ form_row(form.search) }}
        {{ form_row(form.auteur) }}
        {{ form_row(form.album) }}
        {{ form_row(form.annee) }}
        {% if form.note is defined %}
            {{ form_row(form.note) }}
        {% endif %}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}