{% if this.pagination.pages_count > 1 %}
    <div class="pagination:container justify-content-center">
            {% if this.pagination.page > 1 %}
                <a class="page-link" href="{{ path(this.pagination.route, this.pagination.route_params|merge({'page': 1})) }}">
                <div class="pagination:number">
                    <<
                </div>
                </a>
                <a class="page-link" href="{{ path(this.pagination.route, this.pagination.route_params|merge({'page': this.pagination.page - 1})) }}">
                    <div class="pagination:number">
                        <
                    </div>
                </a>
            {% endif %}
            {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
            {% for p in range(max(this.pagination.page - 2, 1),
                min(this.pagination.page + 2, this.pagination.pages_count)) %}
                <a class="page-link" href="{{ path(this.pagination.route, this.pagination.route_params|merge({'page': p})) }}">
                    <div class="pagination:number {% if p == this.pagination.page %}active {% endif %}">
                        {{ p }}
                    </div>
                </a>
            {% endfor %}
            {% if this.pagination.page < this.pagination.pages_count %}
                <a class="page-link" href="{{ path(this.pagination.route, this.pagination.route_params|merge({'page': this.pagination.page + 1})) }}">
                    <div class="pagination:number">
                        >
                    </div>
                </a>
                <a class="page-link" href="{{ path(this.pagination.route, this.pagination.route_params|merge({'page': this.pagination.pages_count})) }}">
                    <div class="pagination:number">
                        >>
                    </div>
                </a>
            {% endif %}
    </div>
{% endif %}
